.main {
  padding: 1.5rem 4rem;
  border-radius: 500px;
  border: none;
  outline: none;
  transition: background-color 0.2s ease, transform 0.2s ease;;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  justify-content: center;

  &:active {
    transform: scale(0.95);
  }
}

.justIcon{
  padding: 1.5rem 2rem;
}

.primary {
  background-color: var(--primary);
  color: var(--text-contrast);
  &:hover {
    background-color: var(--primary-hover);
  }
  & .icon {
    fill: var(--text-contrast);
  }
}

.secondary {
  background-color: rgba(168, 164, 255, 0.1);
  color: var(--primary);
  &:hover {
    background-color: rgba(168, 164, 255, 0.25);
  }
  & .icon {
    fill: var(--primary);
  }
}

.destructive {
  background-color: var(--danger);
  color: var(--text-contrast);
  &:hover {
    background-color: var(--danger-hover);
  }

  & .icon {
    fill: var(--text-contrast);
  }
}

.small {
  padding: 1.3rem 4rem;
}

.icon {
  height: 1.3rem;
  aspect-ratio: 1;
}

.disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.fullwidth {
  width: 100%;
}
