@use '@sass/base/typography' as *;

.label {
  color: var(--grey);
  margin-bottom: 0.8rem;
}

.textarea {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 0.8rem 1.6rem;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: $body;
  outline: none;
  resize: none;
  background-color: var(--layer);

  &:focus {
    border: 1px solid var(--primary);
  }

  &::placeholder {
    opacity: 0.5;
  }
}

.error {
  border: 1px solid var(--danger);
}
