.heading {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3rem;
}

.subheading {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.3rem;
}

.headline {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.9rem;
}

.label {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--grey);
  letter-spacing: 0.24rem;
  line-height: 1.5rem;
}

.body {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2.3rem;
}

.body2 {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.capitalized {
  text-transform: uppercase;
}

.bold{
  font-weight: bold;
}
