@use 'sass:map';
@use '../abstract/variables' as *;

@mixin themify($themeName) {
  @each $theme, $map in $themes {
    --#{""+$theme}: #{map.get($map, $themeName)};
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }

  @if $breakpoint==tab-port {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }

  @if $breakpoint==tab-land {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }

  @if $breakpoint==big-desktop {
    //1800px
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
